@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 d-flex justify-content-between w-75 mx-auto">
<h1>Welcome to the Wedding Planner</h1>
<a href="/logout" class="btn btn-outline-danger">Logout</a>
</div>

<table class="table table-dark table-hover">
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guest</th>
        <th>RSVP</th>
    </tr>
    @{
        foreach(Wedding wed in ViewBag.AllWeddings)
        {
            <tr>
                <td> <a href="/wedding/@wed.WeddingId">@wed.WedderOne & @wed.WedderTwo</a> </td>
                <td>@wed.Date</td>
                <td>@wed.Rsvp.Count()</td>
                <td>
                    @{
                        if(ViewBag.User == wed.CreatorId)
                        {
                            <a href="/wedding/@wed.WeddingId/Delete" class="btn btn-danger">Delete Wedding!</a>
                        }
                        else
                        {
                            if(wed.Rsvp.Any(rsvp => rsvp.UserId == ViewBag.User))
                            {
                                <a href="/rsvp/@wed.WeddingId" class="btn btn-danger">UnRsvp</a>
                            }
                            else
                            {
                                <a href="/rsvp/@wed.WeddingId" class="btn btn-success">Rsvp</a>
                            }
                        }
                    }
                </td>    
            </tr>
        }
    }
</table>

<a href="/wedding/new" class="btn btn-lg btn-success m-5">New Wedding!</a>